body{
    background: 100%;
}

.head{
    font-family:cursive;
}

.question{
    font-family:cursive;
    font-size: large;
    text-align: center;
}

.button{
    border-radius: 50px;
    font-family: cursive;
}

.question-container{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigbox{
    margin-top: 50px;


}