{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'main/style.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <title>SignUp</title>


    </head>

    <body>
        <div>
            <h1 class="nav-container">
                Jn's Tracker
            </h1>
        </div>

        <div class="main-container">
            <div class="head-container">
                <h1>
                    User: N/A
                </h1>
                
                <h2>
                    Signup Here
                </h2>
            </div>

                <div class="diary-container">
                    <form method="post">
                        {% csrf_token %}

                        {% if error %}
                        <h2 class="error">
                            Error: {{ error }}
                        </h2>
                        {% endif %}

                        <h1>
                            Username:
                        </h1>
                        <input type="text" name="username" class="submit-input">
                        
                        <h1>
                            Password:
                        </h1>
                        <input type="password" name="password" class="submit-input">

                        <h1>
                            Confirm Password:
                        </h1>
                        <input type="password" name="re_password" class="submit-input">

                        <br>
                        <br>
                        <button type ="submit" class="submit-button"> Sign Up </button>

                        <br><br><br>
                        <a href="{% url 'main:signin' %}"> Go back </a>
                    </form>
            </div>
        </div>

    </body>
</html>